<footer class="footer" role="contentinfo" aria-label="Social list links">
    <div class="footer__container">
        <div>
            <ul class="footer__list">
                <li class="footer__list-tem">
                    <a href="#" class="footer__link icon-facebook" target="_blank" aria-label="Facebook"></a>
                </li>
                <li class="footer__list-tem">
                    <a href="#" class="footer__link icon-twitter" target="_blank" aria-label="Twitter"></a>
                </li>
                <li class="footer__list-tem">
                    <a href="#" class="footer__link icon-youtube" target="_blank" aria-label="Youtube"></a>
                </li>
                <li class="footer__list-tem">
                    <a href="#" class="footer__link icon-linkedin-in" target="_blank" aria-label="Linkedin"></a>
                </li>
            </ul>
        </div>
        <div class="footer__copyright">
            <p>Copyright © 2023 - my-build-gulp-2023</p>
        </div>
    </div>
</footer>
