<header class="header" role="banner">
    <div class="header__container header__content">
        <div class="header__logo">
            <a href="#">
                <icon class="header__logo-icon icon-book-open"></icon>
                <span class="header__logo-text-left">My Gulp Build</span><span class="header__logo-text-right">2023</span></a
            >
        </div>
        <nav class="header__menu" role="navigation">
            <ul class="header__list">
                <li class="header__list-item">
                    <a href="#home" class="header__link" rel="home">Home</a>
                </li>
                <li class="header__list-item">
                    <a href="#about" class="header__link">About</a>
                </li>
                <li class="header__list-item">
                    <a href="#cases" class="header__link">Cases</a>
                </li>
                <li class="header__list-item">
                    <a href="#blog" class="header__link">Blog</a>
                </li>
                <li class="header__list-item">
                    <a href="#contact" class="header__link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
